# Maintainer: Kevin Jayne

dotfiles:
  config:
    directories:
      - ~/.history
      - ~/.config/nvim
      - ~/.config/terminator
  sources:
    shared:
      - { src: '.vimrc', dest: '.vimrc'}
      - { src: '.bashrc', dest: '.bashrc'}
      - { src: 'ssh.config', dest: '.ssh/config'}
      - { src: 'init.vim', dest: '.config/nvim/init.vim'}
    mac:
      - { src: '.zshrc', dest: '.zshrc'}
    ubuntu:
      - { src: '.Xmodmap', dest: '.Xmodmap'}
      - { src: '.zshrc-ubuntu', dest: '.zshrc'}
      - { src: 'terminals/terminator.config', dest: '.config/terminator/config'}

repos:
  local_dir: ~/git
  shared:
    sources:
      - { src: 'git@github.com:seemywingz/str.git', dest: 'str'}
      - { src: 'git@github.com:seemywingz/dotfiles.git', dest: 'dotfiles'}
      - { src: 'https://github.com/robbyrussell/oh-my-zsh.git', dest: '../.oh-my-zsh'}
      - { src: 'https://github.com/mbadolato/iTerm2-Color-Schemes.git', dest: 'iTerm2-Color-Schemes'}
  mac:
    sources:
      - { src: 'https://github.com/evrowe/panda-syntax-iterm.git', dest: 'panda-syntax-iterm'}
  # ubuntu:
  #   sources: {}

cli_tools:
  - autojump
  - awscli
  - ctags
  - coreutils
  - curl 
  - git
  # - fswatch
  - htop
  - jq
  - neovim
  - nmap
  - shellcheck
  - tree
  - watch
  - wget
  # - yarn
  - zsh

ubuntu:
  server:
    packages:
      - nginx
      - gparted
      - apt-transport-https
      - openssh-server
      - software-properties-common 
    # gpg:
    # ppa: 
  desktop:
    packages:
      - code-insiders
      - snap
      - steam
      - terminator
      - virtualbox 
    gpg:
      - "https://packages.microsoft.com/keys/microsoft.asc"
    ppa:
      - "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main"
    snap:
      - spotify

mac:
  apps:
    # - amazon-music
    - dashlane
    - docker
    - google-chrome
    - iterm2
    # - postman
    - sequel-pro
    - slack
    - spotify
    - steam
    - tidal
    - visual-studio-code
    - qobuz
    # - intellij-idea
    # - 1password
    # - tunnelblick
    # - insomnia
    # - firefox
    # - viscosity
    # - virtualbox
    # - vagrant
