############## WeWork ####################
Host github.com bitbucket.org
  User git
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host wework
    Hostname prod-us-east.jumphost.ssh.we.co
    User kjayne
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa
    CertificateFile ~/.ssh/id_rsa-cert.pub
    Port 2222

Host <ALIAS_HERE>
    Hostname <HOST_NAME_HERE>
    ProxyCommand ssh -W %h:%p kjayne@wework
    User <USER_HERE>

  ## REDTech ##
## Get the PEM files from your Sysadmin
## After approval from your Manager

# redt-dev 172.16.14.0/24
Host 172.16.14.*
  User ec2-user
  IdentityFile ~/.ssh/redt-dev.pem
  ForwardAgent yes 

# redt-qa 172.21.4.0/25
Host 172.21.4.*
  User ec2-user
  IdentityFile ~/.ssh/redt-qa.pem
  ForwardAgent yes 

# redt-prod 172.24.4.0/25
Host 172.24.4.*
  User ec2-user
  IdentityFile ~/.ssh/redt-prod.pem
  ForwardAgent yes 

# redt-ops 172.31.134.0/25
Host 172.31.134.*
  User ec2-user
  IdentityFile ~/.ssh/redt-ops.pem
  ForwardAgent yes 


 ## Fieldlens Infra ##
   # Requires FL VPN #

# infra-dev      10.40.0.0/16
Host 10.40.*
  User ec2-user
  IdentityFile ~/.ssh/infra-dev.pem
  ForwardAgent yes

# infra-qa       10.30.0.0/16
Host 10.30.*
  User ec2-user
  IdentityFile ~/.ssh/infra-qa.pem
  ForwardAgent yes

# infra-prod     10.10.0.0/16
Host 10.10.*
  User ec2-user
  IdentityFile ~/.ssh/infra-prod.pem

# infra-admin    10.1.0.0/16
Host 10.1.*
  User ec2-user
  IdentityFile ~/.ssh/infra-admin.pem

# infra-staging  10.50.0.0/16
Host 10.50.*
  User ec2-user
  IdentityFile ~/.ssh/infra-staging.pem

# infra-ci       10.60.0.0/16
Host 10.60.*
  User ec2-user
  IdentityFile ~/.ssh/infra-ci.pem

# infra-hotfix   10.20.0.0/16
Host 10.20.*
  User ec2-user
  IdentityFile ~/.ssh/infra-hotfix.pem

#Host *
  #User ec2-user
  #IdentityFile ~/.ssh/20141120.pem
  #ForwardAgent yes
