# Provision Local Machines

- name: Provision Local Environment(s)
  hosts: localhost
  connection: local
  gather_facts: true
  roles:
    - { role: cli, tags: [ 'init', 'cli' ]  }
    - { role: apps, tags: [ 'init', 'apps' ]  }
    - { role: repos, tags: [ 'init', 'repos' ]  }
    - { role: dotfiles, tags: [ 'init', 'dotfiles' ]  }
